html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* =================================================App Component Styling=============================================== */

form {
  padding: 1% 2%;
  border: 1px solid #ffffff;
  position: relative;
  margin: 2%;
  border-radius: 5px;
  cursor: pointer;
}

/*main div */
.App {
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
  background-color: #282c34;
  background-image: linear-gradient(
    to bottom right,
    rgb(150, 150, 212),
    rgb(197, 197, 131)
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h4 {
  text-transform: capitalize;
}

/* div element that shows the current weather*/
.display {
  margin-top: 2%;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: rgba(0, 0, 0, 0.171);
  width: 50%;
  border-radius: 10px;
  transition: transform 0.7s; /* Animation */
}

.display:hover {
  transform: scale(1.05);
}
/* main weather description */
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* weather image */
.img {
  width: 60px;
  height: 60px;
}

.icon {
  width: 250px;
  height: 250px;
}

/* ==========================Loading Gif ============================================*/
.loading {
  width: 10%;
  border-radius: 10%;
}

/* ==========General Styling |Responsive|==================== */
@media screen and (width: 1024px) {
  .App {
    padding: 10px 50px 0 50px;
  }
  .display {
    padding-top: 6%;
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .App {
    text-align: center;

    height: 120vh;
  }
  .display {
    padding-top: 6%;
    width: 90% !important;
  }
  .icon {
    width: 125px !important;
    height: 125px !important;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (width: 360px) {
  .display {
    padding-top: 6%;
    width: 200% !important;
  }
}



@keyframes ldio-qpv6o7cx35m {
  0% {
    top: 78px;
    left: 78px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 11px;
    left: 11px;
    width: 134px;
    height: 134px;
    opacity: 0;
  }
}.ldio-qpv6o7cx35m div {
  position: absolute;
  border-width: 22px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-qpv6o7cx35m 2.127659574468085s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-qpv6o7cx35m div:nth-child(1) {
  border-color: #c5c583;
  animation-delay: 0s;
}
.ldio-qpv6o7cx35m div:nth-child(2) {
  border-color: #9696d4;
  animation-delay: -1.0638297872340425s;
}
.loadingio-spinner-ripple-snpd0rykd4 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff00;
}
.ldio-qpv6o7cx35m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qpv6o7cx35m div { box-sizing: content-box; }
/* generated by https://loading.io/ */
